<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LiaraMirror" value="https://package-mirror.liara.ir/repository/nuget/" />
    <!-- <add key="ChabokMirror" value="https://mirror2.chabokan.net/nuget/v3/index.json" /> -->
    <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
  </packageSources>

  <!-- <packageSourceMapping>
    <packageSource key="LiaraMirror">
      <package pattern="*" />
    </packageSource>

    <packageSource key="ChabokMirror">
      <package pattern="*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping> -->
</configuration>
